#div1{
    background-color: aqua;
    padding: 10px;
    margin: 20px;
}
#div2{
    background-color: rgb(50, 153, 153);
    padding: 10px;
    margin: 20px;
}
#div3{
    background-color: rgb(33, 81, 81);
    padding: 10px;
    margin: 20px;
}